body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gainsboro;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar -nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#editForm {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

#deleteForm {
  float: left;
  margin-top: -11px;
}

#createForm {
  float: left;
  margin-top: -11px;
}
